@import './base/normalize';
@import './base/fonts';

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background-color: #E5E5E5;
    color: #22356F;
    font-family: 'Larsseit', sans-serif;
    font-size: 100%;
}

h1, h2, h3 {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
}

@import './layout/header';
@import './layout/main';
@import './layout/about';
@import './layout/programs';
@import './layout/plans';
@import './layout/information';
@import './layout/contact';



@import './components/menu';
@import './components/box';
@import './components/button';
@import './components/title';