.button {
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
    
    height: 50px;
    text-transform: uppercase;
    
    &--yellow {
        color: #FAB63E;

        &:hover {
            background: #F9B640;
            color: white;
        }
    }

    &--blue {
        color: #62D0DF;

        &:hover {
            background: #62D0DF;;
            color: white;
        }
    }
    
}